<div class="event">
    <div class="label">
      <%= image_tag('hiphiphorray.jpeg') %>
    </div>
    <div class="content">
      <em><%= message.user.username %>: </em><%= message.body %>
    </div>
</div>