<h1 class="ui center aligned icon header">
  <div class="ui image circular"><%= image_tag('hiphiphorray.jpeg') %></div>
</h1>

<div class="ui container">
  <div class="ui grid container">

    <div class="twelve wide column">
      <div class="ui fluid card chatbox">
        <div class="content">
          <div class="ui feed">
            <div class="event">
              <div class="label">
                <%= image_tag('hiphiphorray.jpeg') %>
              </div>
              <div class="content">
                You added Elliot Fu to the group <a>Coworkers</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui fluid card chatbox">
        <div class="content">
          <div class="ui vertical pointing menu">
            <a class="red item">
              Home
            </a>
            <a class="item">
              Messages
            </a>
            <a class="item">
              Friends
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

