@import "semantic-ui";

.chatbox {
  height: 100%;
}

.margin {
  margin-top: 10%;
}

#messages {
  height: 15em;
  overflow: auto;
}

.ui.input {
  button {
    display:none;
  }
}

#huh {
  font-size: 30px;
  font-weight: bold;
  padding: 0;
  text-decoration: none;
  color: white;
}