@import "semantic-ui";

.ui.chatbox {
  height: 100%;
  box-shadow: 2px 2px 8px rgb(238, 221, 144);
}

#chat-container {
  margin-top: 5%;
}

.margin {
  margin-top: 10%;
}

#messages {
  height: 15em;
  overflow: auto;
}

.ui.input {
  button {
    display:none;
  }
}

#huh {
  font-size: 30px;
  font-weight: bold;
  padding: 0;
}

#logo-pic {
  box-shadow: 2px 2px 8px rgb(238, 221, 144);
}