<div class="ui orange inverted segment">
  <div class="ui container">
    <div class="ui inverted secondary menu">
      <%= link_to "Home", root_path, class: "item" %>
      <a class="item">Messages</a>
      <div class="right menu">
        <div class="ui dropdown item">
          <div class="text">Prooofile</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link_to "Log In", login_path, class: "item" %>
            <div class="item">What</div>
            <div class="item">Sign Up</div>
          </div>
        </div>
        <a class="item">Login</a>
      </div>
    </div>
  </div>
</div>