<div class="ui orange inverted segment">
  <div class="ui container">
    <div class="ui inverted secondary menu">
      <a class="item">Home</a>
      <a class="item">Messages</a>
      <div class="right menu">
        <div class="ui dropdown item">
          <div class="text">Prooofile</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Log Out</div>
            <div class="item">Log In</div>
            <div class="item">Sign Up</div>
          </div>
        </div>
        <a class="item">Login</a>
      </div>
    </div>
  </div>
</div>